body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1263px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1263px;
  height:808px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1263px;
  height:808px;
}
#u1 {
  position:absolute;
  left:2px;
  top:396px;
  width:1259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:808px;
  width:1262px;
  height:355px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1262px;
  height:355px;
}
#u3 {
  position:absolute;
  left:2px;
  top:170px;
  width:1258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:480px;
  top:0px;
  width:90px;
  height:60px;
  color:transparent;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:601px;
  top:10px;
  width:72px;
  height:40px;
  color:transparent;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:799px;
  top:10px;
  width:52px;
  height:40px;
  color:transparent;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:40px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
