body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:50px;
  width:290px;
  height:520px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:520px;
}
#u1 {
  position:absolute;
  left:2px;
  top:252px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:140px;
  top:70px;
  width:290px;
  height:500px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:500px;
}
#u3 {
  position:absolute;
  left:2px;
  top:242px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:148px;
  top:520px;
  width:52px;
  height:50px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:50px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
