body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:50px;
  width:290px;
  height:520px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:520px;
}
#u1 {
  position:absolute;
  left:2px;
  top:252px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:140px;
  top:70px;
  width:290px;
  height:500px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:500px;
}
#u3 {
  position:absolute;
  left:2px;
  top:242px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:250px;
  top:150px;
  width:170px;
  height:20px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5 {
  position:absolute;
  left:350px;
  top:224px;
  width:70px;
  height:36px;
  color:transparent;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
