body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:50px;
  width:290px;
  height:520px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:520px;
}
#u1 {
  position:absolute;
  left:2px;
  top:252px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:140px;
  top:70px;
  width:290px;
  height:500px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:500px;
}
#u3 {
  position:absolute;
  left:2px;
  top:242px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:228px;
  top:270px;
  width:112px;
  height:40px;
  color:transparent;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:228px;
  top:320px;
  width:112px;
  height:40px;
  color:transparent;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:158px;
  top:270px;
  width:262px;
  height:40px;
  color:transparent;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:150px;
  top:320px;
  width:270px;
  height:40px;
  color:transparent;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
